body {
    background-color: aquamarine;
    border-style: dotted;
    border-color: black;
    text-align: left;
    }
h1 {
    color: forestgreen;

}


h2 {
    color: rgb(50, 60, 205);
}
table {
    border-collapse: collapse;
    width: 80%;
}
th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid black;
}

tr:hover {
    background-color: cornflowerblue;
}
form {
    border-collapse: collapse;
}
hr{
    border-color: cadetblue;
}
#paral{
    text-align: center;
    color: rgb(229, 18, 18);
}

.center{
    text-align: center;
    color:blue;
}